<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [Leyenda]="graficos.grafico1.leyenda" [Labels]="graficos.grafico1.labels" [Data]="graficos.grafico1.data" [Type]="graficos.grafico1.type"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [Leyenda]="graficos.grafico2.leyenda" [Labels]="graficos.grafico2.labels" [Data]="graficos.grafico2.data" [Type]="graficos.grafico2.type"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [Leyenda]="graficos.grafico3.leyenda" [Labels]="graficos.grafico3.labels" [Data]="graficos.grafico3.data" [Type]="graficos.grafico3.type"></app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [Leyenda]="graficos.grafico4.leyenda" [Labels]="graficos.grafico4.labels" [Data]="graficos.grafico4.data" [Type]="graficos.grafico4.type"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>